/* html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	position: relative;
} */

section#section-menu {
	width: 90%;
	margin: 0 auto;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.arrow-left,
		.arrow-right {
			height: 6rem;
			width: 6rem;
			background-color: rgba(0, 0, 0, 0.1);
			padding: 1rem;
			border-radius: 0.8rem;
			cursor: pointer;

			img {
				height: 100%;
				width: 100%;
			}
		}

		.container-menu {
			display: flex;
			width: 100rem;
			overflow-x: auto;
			gap: 2rem;
			&::-webkit-scrollbar {
				opacity: 0;
			}

			.container-menu__item {
				padding: 1rem 0;
				border-radius: 0.6rem;
				overflow: hidden;
				width: 25rem;
				min-width: 25rem;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

				img.menu-image {
					width: 100%;
					height: 15rem;
					object-fit: cover;
				}
				div.item-details {
					padding: 0.8rem;
					div.item-details__labels {
						margin-top: 1rem;
						display: flex;
						justify-content: space-between;
						align-items: center;

						.name {
							font-weight: bolder;
						}

						.price {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

section.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	z-index: 100;
	display: none;

	div.menu-item {
		padding: 0 2rem;
		background-color: white;
		position: fixed;
		right: 0;
		width: 0rem;
    opacity: 0;
		height: 100%;
		overflow-y: auto;
		transition: all 0.4s;

		img.close {
			height: 7rem;
			width: 7rem;
			position: absolute;
			right: 2rem;
			cursor: pointer;
		}

		div.content {
			display: flex;
			gap: 2rem;
			height: 100%;
			width: 100%;
			align-items: center;

			img.menu-pic {
				height: 70rem;
				width: 40rem;
				object-fit: cover;
				border-radius: 1rem;
			}

			div.details {
				h2 {
					font-size: 4.5rem;
					color: #cf8804;
					padding: 0;
					margin: 0;
				}
				p {
					text-align: justify;
					line-height: 1.7;
				}

				.actions {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.price {
						font-size: 3rem;
						font-weight: bolder;
					}
				}
			}
		}
	}
}

button.btn {
	border: none;
	background-color: orange;
	color: white;
	padding: 0.6rem 0.8rem;
	border-radius: 0.6rem;
	cursor: pointer;
	transition: all 0.4s;
}

button.btn-large {
	padding: 1.2rem 1.8rem;
	font-weight: bold;
}

button.btn:hover {
	background-color: #cf8804;
}
